article.big-adv
	header.big-adv__header
		span.big-adv__date
			span Размещено:
			date 13.06.2014
		h4.big-adv__title Северо-западный район. Северно-пригородный просп., д. 145а/4б
	.big-adv__main
		aside.big-adv__aside.adv-aside
			.adv-aside__price
				.adv-aside__price-title Цена
				.adv-aside__price-cost 11519 ₽ / м²
				.adv-aside__price-value 50 250 000 ₽
			table.stats-table.stats-table_adv-info
				tr.stats-table__row
					td: .stats-table__title Ремонт
					td: .stats-table__value Евроремонт
				tr.stats-table__row
					td: .stats-table__title Этаж
					td: .stats-table__value 12 этаж из 17
				tr.stats-table__row
					td: .stats-table__title Комнат
					td: .stats-table__value 4 комнаты
				tr.stats-table__row
					td: .stats-table__title Площадь (м²)
					td: .stats-table__value 120 / 80 / 15
			table.stats-table.stats-table_adv-info
				tbody
					tr.stats-table__row
						td: .stats-table__title Год постройки
						td: .stats-table__value 1994 год
					tr.stats-table__row
						td: .stats-table__title Конструкция дома
						td: .stats-table__value Панельный
					tr.stats-table__row
						td: .stats-table__title Отопление
						td: .stats-table__value Индивидуальное
					tr.stats-table__row
						td: .stats-table__title Фонд жилья
						td: .stats-table__value Вторичное жилье
				tfoot
					tr: td(colspan=2): a(href="#reviews", target="_blank") Отзывы, фото и информация о доме 145а/4б
			table.stats-table.stats-table_adv-info.stats-table_adv-prop
				tr.stats-table__row
					td: .stats-table__title Лифтов 
						span.stats-table__icon: span.icon.icon-i_elevator
					td: .stats-table__value 1 на подъезд
				tr.stats-table__row
					td: .stats-table__title Газ 
						span.stats-table__icon: span.icon.icon-i_gas
					td: .stats-table__value Есть
				tr.stats-table__row
					td: .stats-table__title Санузел 
						span.stats-table__icon: span.icon.icon-i_toilet
					td: .stats-table__value Совмещенный
				tr.stats-table__row
					td: .stats-table__title Ипотека 
						span.stats-table__icon: span.icon.icon-i_mortage
					td: .stats-table__value Невозможна
			table.stats-table.stats-table_adv-info.stats-table_adv-prop
				tr.stats-table__row
					td: .stats-table__title Андрей
						span.stats-table__icon: span.icon.icon-i_phone
					td: .stats-table__value: a(href="#phone") Показать телефон
			.adv-agent
				.adv-agent__title Лукьяненко Андрей Алибабаевич
				.adv-agent__main
					.adv-agent__photo
						img(src="img/agent_large.jpg")
					ul.adv-agent__link-list
						li.adv-agent__link-item
							a.adv-agent__link.main(href="mailto:mail@mail.com", target="_blank")
								span.adv-agent__link-icon
									span.icon.icon-i_letter
								span.adv-agent__link-text Написать письмо
						li.adv-agent__link-item
							a.adv-agent__link.agency(href="agency.html")
								span.adv-agent__link-icon
									span.icon.icon-i_agency
								span.adv-agent__link-text Северная столица
						li.adv-agent__link-item
							.adv-agent__link
								span.adv-agent__link-icon
									span.icon.icon-i_star
								span.adv-agent__link-text.red
									span Рейтинг
									span.icon.icon-i_dislike
									span.icon.icon-i_dislike
									span.icon.icon-i_dislike
		section.big-adv__content
			.tabs(data-js="tabs")
				ul.tabs__nav-list(role="tablist")
					li.tabs__nav-item(role="presentation")
						a.tabs__nav-link.active(href="#tab_itemID_photo", aria-controls="tab_itemID_photo", data-action="switch-tab") Фото
					li.tabs__nav-item(role="presentation")
						a.tabs__nav-link(href="#tab_itemID_map", aria-controls="tab_itemID_map", data-action="switch-tab") Карта
					li.tabs__nav-item(role="presentation")
						a.tabs__nav-link(href="#tab_itemID_building", aria-controls="tab_itemID_building", data-action="switch-tab") Фото дома
				ul.tabs__list
					li.tabs__item.active#tab_itemID_photo(role="tabpanel")
						.gallery(data-js="gallery")
							.gallery__s-holder
								ul.gallery__s-list(data-view="slides-list")
									- for(var i=0; i<11; i++)
										li.gallery__s-item
											img.gallery__s-img(src="img/gallery_large.jpg")
								button.gallery__s-prev(data-action="prev-slide")
									span.icon.icon-i_prev-slide
								button.gallery__s-next(data-action="next-slide")
									span.icon.icon-i_next-slide
								.gallery__s-info
									span.number(data-view="current-slide") 1
									|  из 
									span.total(data-view="total-slide") 17
							.gallery__t-holder
								ul.gallery__t-list(data-view="thumbs-list")
									- for(var i=0; i<11; i++)
										li.gallery__t-item
											a.gallery__t-link(href="img/gallery_large.jpg", data-action="select-slide", data-index="#{i}")
												img.gallery__t-img(src="img/gallery_small.jpg")
							.gallery__t-controls
								button.gallery__t-prev(data-action="prev-thumb")
									span.icon.icon-i_prev-thumb
								button.gallery__t-next(data-action="next-thumb")
									span.icon.icon-i_next-thumb
					li.tabs__item#tab_itemID_map(role="tabpanel")
						.big-adv__map-container
							.big-adv__map(data-view="map-shower", data-placemark="45.03996956258126,41.97034453173818", data-center="45.03996956258126,41.97034453173818")
					li.tabs__item#tab_itemID_building(role="tabpanel")
						.gallery(data-js="gallery")
							.gallery__s-holder
								ul.gallery__s-list(data-view="slides-list")
									- for(var i=0; i<11; i++)
										li.gallery__s-item
											img.gallery__s-img(src="img/gallery_large.jpg")
								button.gallery__s-prev(data-action="prev-slide")
									span.icon.icon-i_prev-slide
								button.gallery__s-next(data-action="next-slide")
									span.icon.icon-i_next-slide
								.gallery__s-info
									span.number(data-view="current-slide") 1
									|  из 
									span.total(data-view="total-slide") 17
							.gallery__t-holder
								ul.gallery__t-list(data-view="thumbs-list")
									- for(var i=0; i<11; i++)
										li.gallery__t-item
											a.gallery__t-link(href="img/gallery_large.jpg", data-action="select-slide", data-index="#{i}")
												img.gallery__t-img(src="img/gallery_small.jpg")
							.gallery__t-controls
								button.gallery__t-prev(data-action="prev-thumb")
									span.icon.icon-i_prev-thumb
								button.gallery__t-next(data-action="next-thumb")
									span.icon.icon-i_next-thumb
			.big-adv__description
				a(href="#abuse", target="_blank").big-adv__abuse Пожаловаться (4 жалобы)
				.big-adv__d-title От продавца:
				.big-adv__d-subtitle Объявление #41251
				.big-adv__text
					p Здесь есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть.
					p Просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное.
