aside.home-page__map-aside.map-panel(data-view="map-aside")
	button.map-panel__toggle(data-action="toggle-aside"): span.map-panel__toggle-icon &lt;
	.map-panel__content
		header.map-panel__header
			label.search__line-label Сортировка:
			.search__input-holder
				.styled-select.block
					select(data-view="bs-select")
						each item,i in ['Сверху - дешевле','Сверху - дороже','Сверху - новее','Сверху - старее']
							option(value=i) #{item}
		.map-panel__items-wrapper
			div.map-panel__items.scroller(data-view="aside-items")
				ul.map-panel__items-list
					+adv_items(6, 'map-panel__item ads__block-item')
				.scroller__track
					.scroller__bar
						span.icon.icon-i_scroll
		footer.map-panel__footer
			.paging
				.paging__cell
					button.paging__prev
						span.icon.icon-i_page-left
						span Назад
				.paging__cell
					.paging__body
						div
							strong.from 21
							| ...
							strong.to 40
						div
							| из 
							span 1000
				.paging__cell
					button.paging__next
						span Вперед
						span.icon.icon-i_page-right