a.menu__shower(href="#main_menu")
	span.icon.icon-i_menu
	span Меню сайта
	//- span.icon.icon-i_ar-down-white
ul.menu__list#main_menu
	li.menu__item: a.menu__link(href="#about") О нас
	li.menu__item.parent
		a.menu__link(href="#services")
			span Услуги
			span.icon.icon-i_ar-down-white
		ul.menu__sublist
			li.menu__subitem: a.menu__sublink(href="#service") Покупка недвижимости
			li.menu__subitem: a.menu__sublink(href="#service") Продажа недвижимости
			li.menu__subitem: a.menu__sublink(href="#service") Аренда
			li.menu__subitem: a.menu__sublink(href="#service") Коммерческая недвижимость
	li.menu__item: a.menu__link(href="#guestbook") Жалобы и предложения