body{
	overflow-x: hidden;
	// overflow-y: scroll;
}
.wrp{
	width: 1000px;
	margin: 0 auto;
	@media only screen and (max-width: 1040px){
		width: auto;
		margin: 0 20px;
	}
	body.fixed &{
		width: 1200px;
		@media only screen and (max-width: 1240px){
			width: auto;
			margin: 0 20px;
		}
	}
	&.wide,
	body.fixed &.wide{
		width: auto;
		margin: 0 20px;
	}
}
.smooth{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon{
	display: inline-block;

	vertical-align: bottom;
}
.no-list-style{
	margin: 0;
	padding: 0;

	list-style: none;
}
.btn-action{
	color: #364657;
	background: #ffd556;
	&:hover{
		background-color: #f1c951;
	}
}
.btn-default{
	color: #46758f;
	border-color: currentColor;
	&:hover{
		color: #fff;
		background: #46758f;
	}
	&:active,
	&:active:hover,
	&:active:focus{
		background: darken(#46758f, 10%);
		color: #fff;
	}
}
.btn-primary{
	border-color: #46758f;
	&:hover{
		border-color: #35596d;
	}
}
.popup-wrapper{
	width: 960px;
	margin: 50px auto;
	&__above{
		background: #575757;
		padding: 20px;
	}
}
.hidden-checkbox{
	position: absolute;
	left: -5000px;
}
input{
	border: 1px solid #dbe8f0;
	height: 30px;
	font-weight: 300;
}
input[type=checkbox],
input[type=radio]{
	height: auto;
}
label{
	font-weight: 400;
}
.styled-checkbox{
	display: block;
	& span,
	& input{
		vertical-align: baseline;
	}
}
.styled-checkbox__input{
	.hidden-checkbox();
}
.styled-checkbox__icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #dccebe;
	background: #fff5ea;
	position: relative;
}
.styled-checkbox__input:checked + .styled-checkbox__icon:after{
	content: '';
	.icon();
	.icon-i_check();
	position: absolute;
	top: 0;
	left: -1px;
}
@media only screen and (max-width:1100px){
	.text-mobile-hidden{
		// display: none;
	}
}
