.ads__list{
	.no-list-style();
	margin: 0 -10px;

	.clearfix();
}
.ads__item{
	font-size: 14px;

	position: relative;

	float: left;

	width: (100/3)*1%;
	padding: 0 10px 20px 10px;
	.home-page__results &{
		@media only screen and (max-width: 1240px){
			width: 50%;
		}
	}
}
.ads__block-item{
	position: relative;
	padding: 0 10px 20px 10px;
}
.ads__link{
	position: relative;

	display: block;

	border: 1px solid #dcdcdc;
	background: #fff;
	&:hover{
		text-decoration: none;
	}
}
.ads__img{
	display: block;
	overflow: hidden;

	height: 170px;
	img{
		height: 170px;
	}
	.map-panel__item &{
		height: 100px;
	}
}
.ads__img-inner{
	width: 200%;
	margin-left: -50%;

	text-align: center;
}
.ads__price{
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;

	position: relative;

	height: 30px;
	margin-top: -30px;
	padding: 0 10px 0 15px;

	color: #364657;
	color: #364657;
	background: rgba(255,255,255,.75);
}
.ads__extra{
	font-size: 15px;
	font-weight: 400;

	float: right;

	padding: 0 5px;
	span{
		vertical-align: middle;
	}
}
.ads__main{
	display: block;

	padding: 10px 15px 15px;
}
.ads__title{
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;

	overflow: hidden;

	height: 30px;

	text-overflow: ellipsis;

	color: #46758f;
	.ads__link:hover &{
		text-decoration: underline;
	}
}
.ads__info{
	color: #686868;
}
.ads__star{
	position: absolute;
	right: 15px;
	bottom: 25px;
	&:focus,
	&:active:focus,
	&:hover:focus{
		outline: none;
	}
	.icon{
		.icon-i_star-empty();
	}
	&.is-active .icon{
		.icon-i_star-filled();
	}
}
