.adv-aside{
}
.adv-aside__price{
	display: table;

	width: 100%;
	height: 40px;

	color: #fff;
	background: #364656;
	& > div{
		display: table-cell;

		padding: 0 10px;
		height: 40px;

		text-align: center;
		vertical-align: middle;
	}
}
.adv-aside__price-title{
	font-size: 20px;
	font-weight: 400;
}
.adv-aside__price-cost{
	font-size: 13px;
	font-weight: 400;

	background: #47758f;
}
.adv-aside__price-value{
	font-size: 20px;
	font-weight: 400;
}
