.adv-agent{
	margin-top: 18px;
}
.adv-agent__title{
	color: #44758f;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 21px;
	line-height: 1.3;
}
.adv-agent__main{}
.adv-agent__photo{
	float: left;
	img{
		width: 114px;
	}
}
.adv-agent__link-list{
	.no-list-style();
	padding-left: 125px;
}
.adv-agent__link-item{
	&+&{
		margin-top: 7px;
	}
}
.adv-agent__link{
	display: table;
	width: 100%;
	background: #fafafa;
	border: 1px solid #eee;
	border-radius: 2px;
	font-weight: 400;
	font-size: 15px;
	color: #467591;
	&:hover,
	&:focus{
		text-decoration: none;
	}
	&.agency{
		&:hover{
			background-color: #e6ecf0;
			border-color: 1px solid #dbe8f0;
		}
		&:active{
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		}
	}
	&.main{
		.btn-action();
		&:active{
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		}
	}
}
.adv-agent__link-icon{
	width: 44px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #eee;
	.adv-agent__link.main &{
		border-right-color: #e0b83d;
	}
	.adv-agent__link.agency:hover &{
		border-right-color: #ddd;
	}
	.icon{}
}
.adv-agent__link-text{
	display: table-cell;
	vertical-align: middle;
	color: #467591;
	height: 40px;
	padding-left: 15px;
	&.red{
		color: #b71717;
	}
	&.green{
		color: #3791c2;
	}
	span{
		vertical-align: middle;
	}
}