.agency-contacts{
	width: 100%;

	border: 1px solid #ddd;
	background: #fafafa;
	tr + tr > td{
		border-top: 1px dashed #ddd;
	}
	td{
		padding-top: 20px;
		padding-bottom: 20px;

		vertical-align: top;
	}
}
.agency-contacts__row{
}
.agency-contacts__icon{
	width: 50px;
	padding-right: 15px;
	padding-left: 15px;
}
.agency-contacts__title{
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	h4{
		margin: 0;
	}
}
.agency-contacts__value{
}
