.agent__list{
	.no-list-style();

	margin: 0 -10px;

	overflow: hidden;
}
.agent__item{
	float: left;

	width: (100/3)*1%;
	padding: 0 10px;
}
.agent{
	padding: 20px;

	border: 1px solid #eee;
	background: #fff;

	.clearfix();
	&__img{
		float: left;

		width: 50px;
		img{
			width: 50px;
		}
	}
	&__info{
		padding-left: 60px;
	}
	&__name{
		position: relative;

		display: block;
		overflow: hidden;

		height: 2em;
		padding-top: .3em;

		text-overflow: ellipsis;

		color: #46758f;
		&:after{
			position: absolute;
			top: 0;
			right: 0;

			display: inline-block;

			width: 36px;
			height: 30px;

			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAeCAYAAABE4bxTAAAAlUlEQVRYR+1XWw7DIAyzI1peOwL3Pw1HqpKKrf/76qZpRrJC+EIhxjHnnNsYY6+15pRSNrNiZvU4jmZmjeRCX3D3DmDtH1fsEfE8u/IGoEXEihVAIZkBLOwANrxZ1IW+WaEAin3qyQLoRqqHxLL7aB+ooP4hsUxahvtYJrV/zUXSMmmZWKYhXzZIRvGHrLR3d/6ftz8BVeXg9G/RfF0AAAAASUVORK5CYII=');
		}
	}
}
