.agency-offices{
}
.agency-offices__title{
	margin: 30px 0 20px;
}
.agency-offices__list{
	.no-list-style();
}
.agency-offices__item{
	border: 1px solid #ddd;
	background: #fafafa;
	display: none;
	.clearfix();
	&:first-child{
		display: block;
	}
	&+&{
		margin-top: 20px;
	}
	.agency-offices__list.active &{
		display: block;
	}
	
}
.agency-offices__column{
	float: left;

	width: 50%;
	padding: 3px;
	&:first-child{
		padding: 6px 15px;
	}
	& + &{
		border-left: 1px solid #ddd;
	}
}
.agency-offices__subtitle{
}
.agency-offices__table{
	font-size: 16px;

	width: 100%;
	td{
		padding: 5px 0;

		vertical-align: top;
	}
}
.agency-offices__img{
	width: 100%;
}
.agency-offices__show-more{
	margin: 30px 0;

	text-align: center;
	.btn{
		min-width: 30%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
