.agency-description{
	padding-top: 10px;

	.clearfix();
	&__title{
		margin-top: 12px;
		margin-bottom: 20px;
	}
	&__main{
		padding-right: 300px;

		.clearfix();
	}
	&__full-article{
		display: none;
		&:target,
		&.visible{
			display: block;
		}
	}
	&__text{
		margin-bottom: 20px;
	}
	&__aside{
		float: right;

		padding-bottom: 2em;
	}
	&__img{
		width: 280px;
		margin: 1em 0 1em;
	}
	&__agents{
		margin-bottom: 20px;
	}
	&__agents-title{
		margin-bottom: 20px;
	}
	&__all-agents{
		float: right;
		margin-top: 6px;
		border-bottom: 1px dashed;
		line-height: 1;
		&:hover{
			text-decoration: none;
		}
	}
}
