.big-adv{
	background: #fff;
	border: 1px solid #eee;
	padding: 15px;
}
.big-adv__modal{
	width: 960px;
}
.big-adv__main{
	.clearfix();
}
.big-adv__header{
	overflow: hidden;
}
.big-adv__date{
	float: right;
	margin-top: 6px;
	color: #6e6e6e;
	font-size: 13px;
	font-weight: 400;
}
.big-adv__title{
	margin: 4px 0 21px;
	color: #515151;
	font-size: 18px;
	font-weight: 400;
}
.big-adv__content{
	margin-right: 355px;
	overflow: hidden;
}
.big-adv__description{
	margin-top: 18px;
	padding-right: 14px;
	border-right: 1px solid #eaeaea;
	min-height: 188px;
	overflow: hidden;
}
.big-adv__abuse{
	color: #b81818;
	font-size: 15px;
	font-weight: 400;
	float: right;
	line-height: 18px;
	border-bottom: 1px dotted currentColor;
	text-decoration: none;
	margin-top: 5px;
	&:focus{
		color: #b81818;
		text-decoration: none;
	}
	&:hover{
		color: #b81818;
		border-bottom-style: solid;
		text-decoration: none;
	}
}
.big-adv__d-title{
	color: #364656;
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 4px;
}
.big-adv__d-subtitle{
	margin-bottom: 10px;
	color: #364656;
	font-size: 15px;
	font-weight: 400;
}
.big-adv__text{
	color: #5e5e5e;
	font-weight: 400;
}

.big-adv__aside{
	float: right;
	width: 340px;
}

.big-adv__map-container{
	position: relative;
	padding-top: 59px;
	padding-bottom: (432/572)*100%;
	overflow: hidden;
}
.big-adv__map{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	will-change: transform;
}
.big-adv__close,
.big-adv__star{
	position: absolute;
	top: 30px;
	right: 50%;
	margin-right: -520px;
	width: 41px;
	height: 40px;
	background: #f4f4f4;
	border: none;
	border-left: 1px solid #e6e6e6;
	&:focus{
		outline: none;
	}
}
.big-adv__close .icon{
	.icon{}
}
.big-adv__star{
	top: 80px;
	&.is-active .icon{
		.icon-i_star-filled();
	}
}
.big-adv__controls{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.big-adv__prev,
.big-adv__next{
	width: 40px;
	height: 130px;
	position: absolute;
	top: 50%;
	margin-top: -65px;
	background-color: rgba(255, 255, 255, 0.34);
	border: none;
	text-align: center;
	padding: 0;
	&:hover{
		background: rgba(255,255,255,0.5);
	}
	&:focus{
		// background: rgba(170,170,170,0.5);
		outline: none;
	}
	&:active{
		background: rgba(255,255,255,0.6);
	}
}
.big-adv__prev{
	left: 50%;
	margin-left: -520px;
	.icon{}
}
.big-adv__next{
	right: 50%;
	margin-right: -520px;
	.icon{}
}
