html,
body,
.content_wrap{
  height: 100%;
}
.content-wrap{
  height: auto;
  min-height: 100%;
}
.footer-placeholder{
  height: 60px;
  &.fixed{
    display: none;
  }
}
.sticky-footer{
  position: relative;

  clear: both;
  overflow: hidden;

  height: 60px;
  margin-top: -60px;

  *zoom: 1;
}

// Footer itself
.footer{
  font-size: 15px;
  font-weight: 300;

  padding: 20px 0;

  text-align: center;

  color: #fff;
  background: #364657;
  &.fixed{
    position: fixed;
    width: 100%;
    bottom: -55px;
    transition: transform .3s ease;
    z-index: 20;
    &:hover{
      transform: translateY(0);
      transform: translateY(-55px);
    }
  }
}
