.gallery{
	border: 1px solid #eee;
	position: relative;
	.tabs__item &{
		margin-top: -1px;
	}
}
.gallery__s-holder{
	position: relative;
	padding-bottom: (432/572)*100%;
	overflow: hidden;
	will-change: transform;
}
.gallery__s-list{
	.no-list-style();
	width: 2000%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: transform .2s linear;
	will-change: transform;
}
.gallery__s-item{
	width: 5%;
	height: 100%;
	float: left;
	overflow: hidden;
}
.gallery__s-img{
	height: 100%;
}
.gallery__s-prev,
.gallery__s-next{
	border: none;
	height: 100%;
	width: 50px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.4);
	&:hover{
		background: rgba(255,255,255,0.5);
	}
	&:focus{
		// background: rgba(170,170,170,0.5);
		outline: none;
	}
	&:active{
		background: rgba(255,255,255,0.6);
	}
}
.gallery__s-next{
	left: auto;
	right: 0;
}
.gallery__s-info{
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 80px;
	margin-left: -40px;
	background: rgba(255,255,255,0.6);
	text-align: center;
	color: #364656;
	font-size: 16px;
	font-weight: 400;
	padding: 6px 0;
	overflow: hidden;
	will-change: transform;
}
.gallery__t-holder{
	background: #fff;
	position: relative;
	height: 60px;
	overflow: hidden;
	margin: 0 26px;
	border-top: 1px solid #fff;
}
.gallery__t-controls{
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	left: 0;
}
.gallery__t-list{
	.no-list-style();
	position: absolute;
	top: 0;
	left: 0;
	width: 2000%;
	height: 100%;
	transition: transform .2s linear;
	will-change: transform;
}
.gallery__t-item{
	float: left;
	opacity: .5;
	width: 1%;
	padding-right: 1px;
	&.active{
		opacity: 1;
	}
}
.gallery__t-link{
	display: block;
	overflow: hidden;
	&:focus{
		outline: 1px dotted;
		outline-offset: 0;
	}
}
.gallery__t-img{
	width: 100%;
}
.gallery__t-prev,
.gallery__t-next{
	.btn();
	.btn-primary();
	border-radius: 0;
	border: none;
	width: 26px;
	height: 59px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 0;
	padding-right: 0;
	background: #364657;
	&:focus,
	&:focus:active{
		outline: none;
	}
}
.gallery__t-next{
	left: auto;
	right: 0;
}