.group-select{
	.no-list-style();
	display: table;
	table-layout: fixed;
	width: 100%;
}
.group-select__item{
	width: 10%;
	display: table-cell;
}
.group-select__input{
	.hidden-checkbox();
}
.group-select__label{
	display: block;
	text-align: center;
	padding: 5px 0;
	background-color: #fff5ea;
	border: 1px solid #dccebe;
	margin-bottom: 0;
	color: #364657;
	font-size: 13px;
	.group-select__input:checked + &{
		background-color: #ebceba;
		border: 1px solid #ebceba;
	}
}