.header{

	background: #364657;
	body.fixed &{
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 100;
		// height: 0;
		// padding: 0;
	}
	.wrp{
		.clearfix();
	}
	&__inside{
			body.fixed &{
				box-sizing: content-box;
				position: fixed;
				z-index: 100;
				background: #364657;
				padding: 10px 1000px 8px;
				margin-left: -1000px;
				margin-right: -1000px;
				@media only screen and (max-width: 1240px){
					box-sizing: border-box;
					margin-left: -20px;
					margin-right: 0;
					width: 100%;
					padding-right: 20px;
					padding-left: 20px;
				}
		}
		@media only screen and (max-width: 1040px){
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__table{
		display: table;
		width: 100%;
		height: 60px;
	}
	&__cell{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		&:first-child{
			text-align: left;
			width: 100px;
		}
		&:last-child{
			text-align: right;
			width: 260px;
		}
	}
	&__logo{
	}
	&__menu{
		.smooth();
		display: inline-block;
		text-align: left;
		a{
			color: #fff;
			&:focus{
				color: #fff;
			}
			&:hover{
				text-decoration: none;

				color: #c4eaff;
			}
		}
	}
	a.header__new{
		padding: 2px 15px 2px 13px;
		span{
			vertical-align: middle;
		}
		body.fixed &{
			margin-right: 5%;
		}
	}
	&__user{
		display: inline-block;
		text-align: left;
		font-size: 14px;
		a{
			font-weight: 300;

			color: #fff;
			&:focus{
				color: #fff;
			}
			&:hover{
				text-decoration: none;

				color: #c4eaff;
			}
		}
	}
}
