.head-user__img{
	float: left;
	img{
		width: 40px;
		height: 40px;

		border-radius: 50%;
	}
}
.head-user__main{
	padding-left: 55px;
}
.head-user__name{
	display: block;
  margin-right: 50px;
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}
a.head-user__exit{
	color: #c2e1f1;
	float: right;
	font-size: 13px;
	margin-top: 1px;
}
.head-user__menu{
	text-align: right;
	margin-left: -1px;
}
