.home-page{

}
.home-page__aside{
	width: 380px;
	min-height: 400px;
	position: fixed;
	top: 80px;
	z-index: 10;
	@media only screen and (max-height:690px){
		position: relative;
		float: left;
		top: 20px;
		padding-bottom: 40px;
	}
}
.home-page__city{
	font-size: 16px;
	color: #686868;
	font-weight: 400;
	margin: 0 0 20px;
	line-height: 20px;
	height: 30px;
}
.home-page__city-select{
	color: #46758f;
}
.home-page__form{
	.tabs__list{
		margin-top: -1px;
	}
}
.home-page__main{
	padding-left: 400px;
	display: none;
	position: relative;
	&.active{
		display: block;
	}
}

.home-page__main-wrapper{
	@media only screen and (min-width:1240px){
		width: 800px;
		margin: 0 auto;
	}
	@media only screen and (max-width:1239px){
		width: 534px;
		margin: 0 auto;
	}
	@media only screen and (max-width:979px){
		width: auto;
		margin: 0;
	}
}
.home-page__preloader{

}
.home-page__main_map{
	margin-right: -20px;
}
.home-page__results{
	margin: 0;
}
.home-page__results-title{
	margin: 1em 0 1em;
}
.home-page__map-aside{
	position: absolute;
	right: -295px;
	top: 0;
	bottom: 0;
	width: 295px;
}
.home-page__search-results{
	
}
.home-page__results-header{
	min-height: 26px;
	margin: 0 0 24px;
	padding-top: 22px;
	.home-page__results-title{
		display: inline;
	}
}
.home-page__sort{
	float: right;
	width: 280px;
	margin-top: -4px;
}
.home-page__city-label{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-bottom: 0;
}
.home-page__city-search{
	display: inline-block;
	width: 60%;
	vertical-align: middle;
}