.labels{
	height: 100%;
	overflow-x: hidden;
}
.labels__wrapper{
	overflow: hidden;
	height: 100%;
}
.labels__list{
	.no-list-style();
}
.labels__item{
	display: inline-block;
	margin: 0 5px 5px 0;
}
.labels__close{
	border: none;
	background: #fff;
	border: 1px solid #ded2c5;
	border-radius: 2px;
	height: 25px;
	line-height: 18px;
	padding-top: 0;
	&:hover,
	&:focus{
		background: #eee;
		outline: none;
	}
	span{
		vertical-align: middle;
	}
	.icon{
		margin-top: 1px;
	}
}
.labels__text{
	margin-right: 2px;
	color: #816447;
	font-size: 14px;
	font-weight: 400;
}