.main{
	&.bg{
		min-height: 500px;
		padding-top: 60px;
		&:before{
			content: '';
			position: fixed;
			top: 60px;
			left: 0;
			bottom: 0;
			background: top left repeat-x;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAADxAQMAAADbfvTQAAAABlBMVEXd3d3m7PBMhY58AAAAEElEQVQY02M4wDAKhzNkAAAz2LQBbGlbNQAAAABJRU5ErkJggg==');
			width: 100%;
			z-index: -1;
			@media only screen and (max-height:690px){
				position: absolute;
			}
		}
	}
	.main__top{
		padding-top: 1px;
		padding-bottom: 1px;

		border-bottom: #ddd 1px solid;
		background: #e6ecf0;
	}
}
