.map-panel{
	background: #fff;
	border-left: 1px solid #829faf;
	&.animate{
		transition: transform .4s ease;
	}
	&.active{
		transform: translateX(-295px);
	}
}
.map-panel__toggle{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 1px solid #829faf;
	background: #fff;
	position: absolute;
	left: -30px;
	top: 50%;
	margin-top: -30px;
	padding: 0 30px 0 6px;
	line-height: 58px;
	&:focus{
		outline: none;
		border-color: darken(#829faf, 10%)
	}
	&:hover{
		border-color: darken(#829faf, 20%)
	}
}
.map-panel__toggle-icon{
	font-size: 18px;
	color: #46758f;
	font-family: Arial;
	display: inline-block;
	transition: transform .4s ease;
	.map-panel.active &{
		transform: rotate(180deg);
	}
}
.map-panel__content{
	position: relative;
	height: 100%;
	background: #fff;
}
.map-panel__header{
	padding: 15px 26px 0 20px;
	height: 50px;
}
.map-panel__items-wrapper{
	position: absolute;
	top: 60px;
	bottom: 50px;
	width: 100%;
}
.map-panel__items{
	height: 100%;
	padding: 0 15px 0 10px;
}
.map-panel__items-list{
	.no-list-style();
}
.map-panel__item{
}
.map-panel__footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}