@mobile-menu: ~"only screen and (max-width: 1099px)";

.menu{
	font-size: 16px;
	font-weight: 400;
	&.small{
		font-size: 13px;
		font-weight: 300;
		position: relative;
	}
}
.menu__shower{
	.btn();
	.btn-link();
	display: none;
	@media @mobile-menu{
		.menu.big &{
			display: inline-block;
			border-radius: 2px 2px 0 0;
		}
		.menu.big:hover &{
			background-color: #46758f;
		}
	}
}
.menu__list{
	.no-list-style();
	@media @mobile-menu{
		.menu.big &{
			display: none;
			position: absolute;
			padding: 10px 0;
			background-color: #46758f;
		}
		.menu.big:hover &{
			display: block;
		}
	}
}
.menu__item{
	display: inline-block;
	@media @mobile-menu{
		.menu.big &{
			display: block;
		}
	}
	&.parent{
		border-radius: 2px 2px 0 0;
		&:hover{
			background-color: #46758f;
		}
		@media @mobile-menu{
			.menu.big &{
				border-radius: 0;
				.icon{
					transform: rotate(270deg);
					margin-bottom: 2px;
				}
			}
		}
	}
	.menu.small & + &:before{
		content: ' | ';
		color: #fff;
	}
}
.menu__link{
	.btn();
	.btn-link();
	display: inline-block;

	padding-right: 16px;
	padding-left: 16px;
	font-size: 16px;
	font-weight: 400;

	border-radius: 2px 2px 0 0;
	.icon{
		margin: 0 0 2px 2px;
	}
	.menu.small &{
		font-size: 13px;
		padding: 1px 0 0 0;
	}
}
.menu__sublist{
	.no-list-style();
	position: absolute;
	z-index: 100;

	display: none;

	padding: 10px 0;

	border-radius: 0 2px 2px 2px;
	background-color: #46758f;
	font-size: 15px;
	@media @mobile-menu{
		.menu.big &{
			left: 100%;
			top: 0;
			width: 140%;
		}
	}
	.menu__item:hover &{
		display: block;
	}
	.menu.small &{
		right: 0;
	}
}
.menu__subitem{
	display: block;
}
.menu__sublink{
	display: block;

	padding: 5px 20px 6px;
}
