.paging{
	height: 50px;
	display: table;
	width: 100%;
	background: #ffd556;
	table-layout: fixed;
	border-collapse: collapse;
}
.paging__cell{
	display: table-cell;
	width: (100/3)*1%;
	border: 1px solid #e4bf4e;
	vertical-align: middle;
	text-align: center;
}
.paging__prev,
.paging__next{
	.btn();
	.btn-link();
	color: #364657;
	width: 100%;
	padding: 12px 0;
	&:focus,
	&:focus:active{
		outline: none;
		text-decoration: none;
	}
	&:hover{
		background: rgba(0,0,0,0.05);
		text-decoration: none;
	}
	&:active{
		background: rgba(0,0,0,0.1);
	}
	span{
		vertical-align: middle;
		&+span{
			margin-left: 5px;
		}
	}
}
.paging__body{
	strong{
		font-weight: 400;
		
	}
}