.scroller{
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.scroller::-webkit-scrollbar{
	width: 0;
}
.scroller__track {
	display: none;
	position: absolute;
	right: 12px;
	top: 0;
	bottom: 5px;
	width: 2px;
	background-color: #dbe8f0;
	.scroller.tiny &{
		background-color: #ead9c7;
		width: 1px;
		top: 10px;
		right: 9px;
	}
}
._baron .scroller__track {
	display: block;
}
.scroller__bar {
	position: absolute;    
	z-index: 1;
	right: -6px;
	width: 14px;
	background-color: #5b98c2;
	border-radius: 15px;
	height: 28px !important;
	.icon{
		margin-left: -1px;
	}
	.scroller.tiny &{
		width: 5px;
		height: 15px !important;
		right: -2px;
		background-color: #c1a586;
	}
}