.search{
	background-color: #fff5ea;
	border: 1px solid #ead9c7;
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 0;
		border-top: 6px solid #ead9c7;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 0;
	}
	input{
		padding: 3px 10px;
	}
}
.search__range{
}
.search__range-holder{
	width: 50%;
	float: left;
	position: relative;
	.icon{
		position: absolute;
		bottom: 4px;
		left: 3px;
	}
	&:first-child{
		padding-right: 10px;
	}
	&+&{
		padding-left: 10px;
		&:before{
			content: '';
			border-bottom: 1px solid #dbe5ef;
			position: absolute;
			right: 100%;
			width: 16px;
			margin-right: -8px;
			top: 50%;
		}
		.icon{
			left: 13px;
		}
	}
}
.search__range-input{
	width: 100%;
	color: #686868;
	font-weight: 300;
	font-size: 16px;
	.search__spec-list &{
		font-size: 14px;
	}
	&.rouble{
		padding-left: 20px;
	}
}
.search__delimeter{
	margin: 10px 0;
	border-color: #ead9c7;
}
.search__spec-list{
	.no-list-style();
}
.search__spec-item{
	display: none;
	&.active{
		display: block;
	}
}
.search__line{
	margin: 10px 18px;
	.clearfix();
}
.search__line-label{
	width: 40%;
	float: left;
	padding-top: 4px;
	margin: 0;
}
.search__input-holder{
	width: 60%;
	float: left;
}
.search__select{
	width: 100%;
	.btn{
		
	}
}
.search__more{
	margin: 0 -1px 10px;
}
.search__more-btn{
	width: 100%;
	text-align: center;
	background: #eee0d1;
	border: none;
	color: #a67f53;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	height: 30px;
	padding: 0;
	border: 1px solid transparent;
	&:focus{
		outline: none;
	}
	&.active{
		border: 1px solid #c3a489;
		border-right: 1px solid #eee0d1;
		position: relative;
		z-index: 1001;
	}
	span{
		vertical-align: middle;
	}
}
.search__submit-holder{
	margin: 20px 18px;
	.clearfix();
	.btn{
		float: left;
	}
	.icon{
		margin: -4px 0 -4px 6px;
	}
}
.search__submit-plain{
	width: 140px;
	margin-right: 20px;
}
.search__submit-map{
	width: 180px;
}
.search__footer{
	padding: 10px 18px 5px 18px;
	border-top: 3px solid #ead9c7;
	background: #f5ede5;
	position: relative;
	height: 106px;
	overflow: hidden;
}