.stats-table{
	width: 100%;

	color: #686868;
	border: 1px solid #ead9c7;
	background: #fff5ea;

	tbody tr:first-child td{
		padding-top: 25px;
	}
	tbody tr:last-child td{
		padding-bottom: 25px;
	}
	td{
		width: 50%;
		padding: 5px 20px;
	}
}
.stats-table__title{
	position: relative;
	z-index: 2;

	display: inline;

	background: #fff5ea;
}
.stats-table__value{
	position: relative;
	&:before{
		position: absolute;
		z-index: 1;
		top: 1em;
		right: 100%;

		display: block;

		width: 100%;

		content: '';

		border-bottom: 1px dashed #ead9c7;
	}
}

.stats-table.stats-table_adv-info{
	background: #fafafa;
	border-color: #eee;
	margin-bottom: 9px;
	td{
		padding: 5px 15px;
	}
	tbody tr:first-child td{
		padding-top: 10px;
	}
	tbody tr:last-child td{
		padding-bottom: 10px;
	}
	tfoot td{
		background: #f4f4f4;
		border-top: 1px solid #eee;
	}
	tbody tr:only-child td{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.stats-table__title{
		background: #fafafa;
	}
	a{
		text-decoration: underline;
	}
}
.stats-table.stats-table_adv-info.stats-table_adv-prop{
	margin-bottom: 10px;
	background: #fafafa;
	border-color: #eee;
	td{
		padding: 2px 15px;
	}
	td:first-child{
		border-right: 1px solid #eee;
	}
	.icon{
		margin: -2px 0;
	}
	.stats-table__title{
		text-align: right;
		display: block;
	}
	.stats-table__icon{
		display: inline-block;
		width: 35px;
		text-align: center;
		line-height: 0;
		span{
			vertical-align: middle;
		}
	}
	.stats-table__value:before{
		content: none;
	}
}