.styled-select{
	border: 1px solid #dbe8f0;
	position: relative;
	overflow: hidden;
	display: block;
	width: auto;
	background: #fff;
	color: #686868;
	margin-bottom: 0;
	&:after{
		content: '';
		.icon();
		.icon-i_ar-down-blue();
		position: absolute;
		right: 5px;
		top: 50%;
		margin-top: -4px;
		z-index: 3;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		bottom: 0;
		background: #fff;
		z-index: 2;
	}
	.subform &{
		background: #fff5ec;
		border-color: #dbcdc1;
		color: #7d7a76;
		&:after{
			content: '';
			.icon-i_ar-down-brown();
		}
		&:before{
			background: #fff5ec;
		}
	}
	&.empty{
		color: #46758f;
		background: none;
		border: none;
		height: 30px;
		&:after{
			content: none;
		}
		&:before{
			width: 40px;
			background-color: transparent;
			background: linear-gradient(to right, rgba(230,236,240,0) 0%, rgba(230,236,240,0.9) 50%, rgba(230,236,240,1) 100%);
		}
		select{
			font-weight: 400;
			&:focus{
				outline: none;
				text-decoration: underline;
				background: none;
			}
		}
	}
	select{
		background-color: transparent;
		border: none;
		border-radius: 0;
		padding: 5px 10px;
		height: 28px;
		padding-right: 20px;
		appearance: none;
		width: 100%;
		position: relative;
		z-index: 1;
		font-weight: 300;
		&:focus{
			outline: none;
			background-color: rgba(0,0,0,.1);
		}
	}
}