.stypes{
	margin: 10px 18px;
}
.stypes__list{
	.no-list-style();
	.clearfix();
}
.stypes__item{
	position: relative;

	float: left;

	width: 100px;

	text-align: center;
	& + &{
		margin-left: 20px;
	}
}
.stypes__input{
	.hidden-checkbox();
	&:focus{
		outline: none;
	}
}
.stypes__label{
	width: 100px;
	height: 70px;
	margin: 0;
	padding-top: 8px;

	cursor: pointer;

	border: 1px solid #dbe8f0;
	background: #fff;
	&:focus{
		outline: none;
	}
	span{
		vertical-align: middle;
	}
	.stypes__input:checked + &,
	&.active{
		color: #fff;
		background: #354655;
		border-color: #354655;
	}
}
.stypes__icon{
	display: block;

	margin: 0 auto 0;
}
.stypes__sublist{
	.no-list-style();
	position: absolute;
	z-index: 100;
	right: 0;

	display: none;

	width: 140px;
	padding: 10px 0;

	text-align: left;

	color: #fff;
	background: #46758f;
	&.active{
		display: block;
		z-index: 1002;
	}
}
.stypes__subitem{
}
.stypes__sublabel{
	display: block;

	padding: 2px 10px 3px;

	cursor: pointer;

	border: 1px solid #46758f;
	.stypes__input:checked + &{
		color: #46758f;
		background: #fff;
	}
}
.stypes__subicon{
	display: inline-block;

	width: 35px;

	text-align: center;
}
