.subform{
	position: absolute;
	left: 100%;
	z-index: 1000;
	width: 340px;
	top: 0;
	background: #f3e2d4;
	border: 1px solid #c4a289;
	display: none;
	margin-left: -1px;
	&.active{
		display: block;
	}
	input{
		background: #fff5ec;
		border-color: #dbcdc1;
		border-style: solid;
	}
}
.subform__header{
	color: #fff;
	height: 47px;
	padding: 10px 20px;
	margin: 0;
	background: #cea58d;
}
.subform__title{
	font-size: 16px;
	font-weight: 300;
}
.subform__close{
	float: right;
	border: 1px solid #d8c7b8;
	background: #cea589;
	width: 25px;
	height: 25px;
	padding: 1px 1px 0 0;
	transition: background-color .3s ease;
	&:focus,
	&:hover{
		background: lighten(#cea589, 5%);
		outline: none;
	}
	&:active{
		background: darken(#cea589, 3%);
	}
}
.subform__line{
	.clearfix();
	margin: 10px 18px;
}
.subform__label{
	width: 40%;
	float: left;
	padding-top: 4px;
	margin: 0;
}
.subform__input-holder{
	float: left;
	width: 60%;
}
.subform__group{

}
.subform__delimeter{
	border-color: #cebea0;
	margin: 20px 18px;
}