.tabs{

}
.tabs__nav-list{
	.no-list-style();
	.clearfix();
}
.tabs__nav-item{
	float: left;
	&+&{
		margin-left: -1px;
	}
}
.tabs__nav-input{
	.hidden-checkbox();
}
.tabs__nav-link{
	cursor: pointer;
	border: 1px solid #eee;
	display: inline-block;
	padding: 12px 28px 10px;
	background: #fff;
	color: #364657;
	line-height: 1;
	margin: 0;
	font-size: 16px;
	&:hover{
		background-color: #e6ecf0;
		color: #364657;
		text-decoration: none;
	}
	&:focus{
		outline: none;
		text-decoration: none;
	}
	.tabs__nav-input:checked + &,
	&.active,
	&.active:hover{
		background: #fed557;
		position: relative;
		z-index: 10;
		border: 1px solid #f1c745;
		cursor: default;
	}
	.tabs_home &{
		&:hover{
			background: #fefefe;
		}
		.tabs__nav-input:checked + &,
		&.active,
		&.active:hover{
			background: #fed557;
		}
	}
}
.tabs__list{
	.no-list-style();
}
.tabs__item{
	display: none;
	&:target,
	&.active{
		display: block;
	}
}