
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty2.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>1 100 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link ">
    <div class="icon"></div>
  </button>
</li>
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty3.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>2 200 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
    <div class="icon"></div>
  </button>
</li>
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty1.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>3 300 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link ">
    <div class="icon"></div>
  </button>
</li>
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty2.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>4 400 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
    <div class="icon"></div>
  </button>
</li>
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty3.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>5 500 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link ">
    <div class="icon"></div>
  </button>
</li>
<li class="ads__item"><a href="item.html" data-href="item_popup.html" data-action="toggle-modal" class="ads__link">
    <div class="ads__img">
      <div class="ads__img-inner"><img src="img/realty1.jpg" alt="Realty"/></div>
      <div class="ads__price">
        <div class="ads__extra"><span class="icon icon-i_photo"></span><span>5</span></div>
        <div class="ads__extra"><span class="icon icon-i_map"></span></div><span>6 600 000 P</span>
      </div>
    </div>
    <div class="ads__main">
      <div class="ads__title">Орехово-Зуево</div>
      <div class="ads__info">3 комнаты  |  117 м2</div>
    </div></a>
  <button data-action="toggle-star" class="ads__star btn btn-link is-active">
    <div class="icon"></div>
  </button>
</li>