
<div data-js="modal" class="modal fade">
  <div role="document" class="modal-dialog modal-lg big-adv__modal">
    <article class="big-adv">
      <header class="big-adv__header"><span class="big-adv__date"><span>Размещено:</span>
          <date>13.06.2014</date></span>
        <h4 class="big-adv__title">Северо-западный район. Северно-пригородный просп., д. 145а/4б</h4>
      </header>
      <div class="big-adv__main">
        <aside class="big-adv__aside adv-aside">
          <div class="adv-aside__price">
            <div class="adv-aside__price-title">Цена</div>
            <div class="adv-aside__price-cost">11519 ₽ / м²</div>
            <div class="adv-aside__price-value">50 250 000 ₽</div>
          </div>
          <table class="stats-table stats-table_adv-info">
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Ремонт</div>
              </td>
              <td>
                <div class="stats-table__value">Евроремонт</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Этаж</div>
              </td>
              <td>
                <div class="stats-table__value">12 этаж из 17</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Комнат</div>
              </td>
              <td>
                <div class="stats-table__value">4 комнаты</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Площадь (м²)</div>
              </td>
              <td>
                <div class="stats-table__value">120 / 80 / 15</div>
              </td>
            </tr>
          </table>
          <table class="stats-table stats-table_adv-info">
            <tbody>
              <tr class="stats-table__row">
                <td>
                  <div class="stats-table__title">Год постройки</div>
                </td>
                <td>
                  <div class="stats-table__value">1994 год</div>
                </td>
              </tr>
              <tr class="stats-table__row">
                <td>
                  <div class="stats-table__title">Конструкция дома</div>
                </td>
                <td>
                  <div class="stats-table__value">Панельный</div>
                </td>
              </tr>
              <tr class="stats-table__row">
                <td>
                  <div class="stats-table__title">Отопление</div>
                </td>
                <td>
                  <div class="stats-table__value">Индивидуальное</div>
                </td>
              </tr>
              <tr class="stats-table__row">
                <td>
                  <div class="stats-table__title">Фонд жилья</div>
                </td>
                <td>
                  <div class="stats-table__value">Вторичное жилье</div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2"><a href="#reviews" target="_blank">Отзывы, фото и информация о доме 145а/4б</a></td>
              </tr>
            </tfoot>
          </table>
          <table class="stats-table stats-table_adv-info stats-table_adv-prop">
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Лифтов <span class="stats-table__icon"><span class="icon icon-i_elevator"></span></span></div>
              </td>
              <td>
                <div class="stats-table__value">1 на подъезд</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Газ <span class="stats-table__icon"><span class="icon icon-i_gas"></span></span></div>
              </td>
              <td>
                <div class="stats-table__value">Есть</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Санузел <span class="stats-table__icon"><span class="icon icon-i_toilet"></span></span></div>
              </td>
              <td>
                <div class="stats-table__value">Совмещенный</div>
              </td>
            </tr>
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Ипотека <span class="stats-table__icon"><span class="icon icon-i_mortage"></span></span></div>
              </td>
              <td>
                <div class="stats-table__value">Невозможна</div>
              </td>
            </tr>
          </table>
          <table class="stats-table stats-table_adv-info stats-table_adv-prop">
            <tr class="stats-table__row">
              <td>
                <div class="stats-table__title">Андрей<span class="stats-table__icon"><span class="icon icon-i_phone"></span></span></div>
              </td>
              <td>
                <div class="stats-table__value"><a href="#phone">Показать телефон</a></div>
              </td>
            </tr>
          </table>
          <div class="adv-agent">
            <div class="adv-agent__title">Лукьяненко Андрей Алибабаевич</div>
            <div class="adv-agent__main">
              <div class="adv-agent__photo"><img src="img/agent_large.jpg"/></div>
              <ul class="adv-agent__link-list">
                <li class="adv-agent__link-item"><a href="mailto:mail@mail.com" target="_blank" class="adv-agent__link main"><span class="adv-agent__link-icon"><span class="icon icon-i_letter"></span></span><span class="adv-agent__link-text">Написать письмо</span></a></li>
                <li class="adv-agent__link-item"><a href="agency.html" class="adv-agent__link agency"><span class="adv-agent__link-icon"><span class="icon icon-i_agency"></span></span><span class="adv-agent__link-text">Северная столица</span></a></li>
                <li class="adv-agent__link-item">
                  <div class="adv-agent__link"><span class="adv-agent__link-icon"><span class="icon icon-i_star"></span></span><span class="adv-agent__link-text red"><span>Рейтинг</span><span class="icon icon-i_dislike"></span><span class="icon icon-i_dislike"></span><span class="icon icon-i_dislike"></span></span></div>
                </li>
              </ul>
            </div>
          </div>
        </aside>
        <section class="big-adv__content">
          <div data-js="tabs" class="tabs">
            <ul role="tablist" class="tabs__nav-list">
              <li role="presentation" class="tabs__nav-item"><a href="#tab_itemID_photo" aria-controls="tab_itemID_photo" data-action="switch-tab" class="tabs__nav-link active">Фото</a></li>
              <li role="presentation" class="tabs__nav-item"><a href="#tab_itemID_map" aria-controls="tab_itemID_map" data-action="switch-tab" class="tabs__nav-link">Карта</a></li>
              <li role="presentation" class="tabs__nav-item"><a href="#tab_itemID_building" aria-controls="tab_itemID_building" data-action="switch-tab" class="tabs__nav-link">Фото дома</a></li>
            </ul>
            <ul class="tabs__list">
              <li id="tab_itemID_photo" role="tabpanel" class="tabs__item active">
                <div data-js="gallery" class="gallery">
                  <div class="gallery__s-holder">
                    <ul data-view="slides-list" class="gallery__s-list">
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                    </ul>
                    <button data-action="prev-slide" class="gallery__s-prev"><span class="icon icon-i_prev-slide"></span></button>
                    <button data-action="next-slide" class="gallery__s-next"><span class="icon icon-i_next-slide"></span></button>
                    <div class="gallery__s-info"><span data-view="current-slide" class="number">1</span> из <span data-view="total-slide" class="total">17</span></div>
                  </div>
                  <div class="gallery__t-holder">
                    <ul data-view="thumbs-list" class="gallery__t-list">
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="0" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="1" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="2" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="3" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="4" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="5" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="6" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="7" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="8" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="9" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="10" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                    </ul>
                  </div>
                  <div class="gallery__t-controls">
                    <button data-action="prev-thumb" class="gallery__t-prev"><span class="icon icon-i_prev-thumb"></span></button>
                    <button data-action="next-thumb" class="gallery__t-next"><span class="icon icon-i_next-thumb"></span></button>
                  </div>
                </div>
              </li>
              <li id="tab_itemID_map" role="tabpanel" class="tabs__item">
                <div class="big-adv__map-container">
                  <div data-view="map-shower" data-placemark="45.03996956258126,41.97034453173818" data-center="45.03996956258126,41.97034453173818" class="big-adv__map"></div>
                </div>
              </li>
              <li id="tab_itemID_building" role="tabpanel" class="tabs__item">
                <div data-js="gallery" class="gallery">
                  <div class="gallery__s-holder">
                    <ul data-view="slides-list" class="gallery__s-list">
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                      <li class="gallery__s-item"><img src="img/gallery_large.jpg" class="gallery__s-img"/></li>
                    </ul>
                    <button data-action="prev-slide" class="gallery__s-prev"><span class="icon icon-i_prev-slide"></span></button>
                    <button data-action="next-slide" class="gallery__s-next"><span class="icon icon-i_next-slide"></span></button>
                    <div class="gallery__s-info"><span data-view="current-slide" class="number">1</span> из <span data-view="total-slide" class="total">17</span></div>
                  </div>
                  <div class="gallery__t-holder">
                    <ul data-view="thumbs-list" class="gallery__t-list">
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="0" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="1" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="2" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="3" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="4" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="5" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="6" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="7" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="8" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="9" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                      <li class="gallery__t-item"><a href="img/gallery_large.jpg" data-action="select-slide" data-index="10" class="gallery__t-link"><img src="img/gallery_small.jpg" class="gallery__t-img"/></a></li>
                    </ul>
                  </div>
                  <div class="gallery__t-controls">
                    <button data-action="prev-thumb" class="gallery__t-prev"><span class="icon icon-i_prev-thumb"></span></button>
                    <button data-action="next-thumb" class="gallery__t-next"><span class="icon icon-i_next-thumb"></span></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="big-adv__description"><a href="#abuse" target="_blank" class="big-adv__abuse">Пожаловаться (4 жалобы)</a>
            <div class="big-adv__d-title">От продавца:</div>
            <div class="big-adv__d-subtitle">Объявление #41251</div>
            <div class="big-adv__text">
              <p>Здесь есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть.</p>
              <p>Просто обычное описание объявления есть просто обычное описание объявления есть просто обычное описание объявления есть просто обычное.</p>
            </div>
          </div>
        </section>
      </div>
    </article>
  </div>
  <section data-view="list-controls" class="big-adv__controls">
    <button data-dismiss="modal" aria-label="Close" class="big-adv__close"><span class="icon icon-i_close"></span></button>
    <button data-action="toggle-star" class="big-adv__star"><span class="icon icon-i_star-empty"></span></button>
    <button class="big-adv__prev"><span class="icon icon-i_prev-adv"></span></button>
    <button class="big-adv__next"><span class="icon icon-i_next-adv"></span></button>
  </section>
</div>