.icon {
  background-image: url("../img/sprite.PNG");
}
.icon-i_ar-down-blue {
  background-position: -0px -0px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-down-white {
  background-position: -0px -13px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-up-blue {
  background-position: -0px -26px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-up-bluer {
  background-position: -0px -39px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-up-brown {
  background-position: -0px -52px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-up-white {
  background-position: -0px -65px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-down-bluer {
  background-position: -0px -78px;
  width: 16px;
  height: 13px;
}
.icon-i_ar-down-brown {
  background-position: -0px -91px;
  width: 16px;
  height: 13px;
}
.icon-i_check {
  background-position: -0px -104px;
  width: 17px;
  height: 15px;
}
.icon-i_close-small {
  background-position: -0px -119px;
  width: 16px;
  height: 16px;
}
.icon-i_photo {
  background-position: -0px -135px;
  width: 20px;
  height: 18px;
}
.icon-i_rouble {
  background-position: -0px -153px;
  width: 18px;
  height: 20px;
}
.icon-i_menu {
  background-position: -0px -173px;
  width: 27px;
  height: 20px;
}
.icon-i_arrow-back {
  background-position: -0px -193px;
  width: 22px;
  height: 21px;
}
.icon-i_letter {
  background-position: -0px -214px;
  width: 26px;
  height: 21px;
}
.icon-i_map {
  background-position: -0px -235px;
  width: 17px;
  height: 21px;
}
.icon-i_people {
  background-position: -0px -256px;
  width: 26px;
  height: 21px;
}
.icon-i_arrow-brown {
  background-position: -0px -277px;
  width: 22px;
  height: 22px;
}
.icon-i_page-right {
  background-position: -0px -299px;
  width: 22px;
  height: 22px;
}
.icon-i_page-left {
  background-position: -0px -321px;
  width: 22px;
  height: 22px;
}
.icon-i_type-commercial {
  background-position: -0px -343px;
  width: 29px;
  height: 23px;
}
.icon-i_type-garage {
  background-position: -0px -366px;
  width: 27px;
  height: 23px;
}
.icon-i_type-room {
  background-position: -0px -389px;
  width: 29px;
  height: 23px;
}
.icon-i_type-land {
  background-position: -0px -412px;
  width: 24px;
  height: 23px;
}
.icon-i_next-thumb {
  background-position: -0px -435px;
  width: 24px;
  height: 24px;
}
.icon-i_star-filled {
  background-position: -0px -459px;
  width: 25px;
  height: 24px;
}
.icon-i_star {
  background-position: -0px -483px;
  width: 25px;
  height: 24px;
}
.icon-i_plus {
  background-position: -0px -507px;
  width: 24px;
  height: 24px;
}
.icon-i_star-empty {
  background-position: -0px -531px;
  width: 25px;
  height: 24px;
}
.icon-i_prev-thumb {
  background-position: -0px -555px;
  width: 24px;
  height: 24px;
}
.icon-i_close {
  background-position: -0px -579px;
  width: 25px;
  height: 25px;
}
.icon-i_map2 {
  background-position: -0px -604px;
  width: 26px;
  height: 26px;
}
.icon-i_chain {
  background-position: -0px -630px;
  width: 26px;
  height: 26px;
}
.icon-i_phone {
  background-position: -0px -656px;
  width: 26px;
  height: 27px;
}
.icon-i_agency {
  background-position: -0px -683px;
  width: 33px;
  height: 27px;
}
.icon-i_scroll {
  background-position: -0px -710px;
  width: 16px;
  height: 28px;
}
.icon-i_gas {
  background-position: -0px -738px;
  width: 17px;
  height: 29px;
}
.icon-i_elevator {
  background-position: -0px -767px;
  width: 29px;
  height: 29px;
}
.icon-i_mortage {
  background-position: -0px -796px;
  width: 29px;
  height: 29px;
}
.icon-i_toilet {
  background-position: -0px -825px;
  width: 24px;
  height: 29px;
}
.icon-i_dislike {
  background-position: -0px -854px;
  width: 31px;
  height: 31px;
}
.icon-i_type-flat {
  background-position: -0px -885px;
  width: 31px;
  height: 33px;
}
.icon-i_type-house {
  background-position: -0px -918px;
  width: 33px;
  height: 33px;
}
.icon-i_type-other {
  background-position: -0px -951px;
  width: 31px;
  height: 33px;
}
.icon-i_prev-adv {
  background-position: -0px -984px;
  width: 39px;
  height: 39px;
}
.icon-i_next-adv {
  background-position: -0px -1023px;
  width: 39px;
  height: 39px;
}
.icon-i_next-slide {
  background-position: -0px -1062px;
  width: 39px;
  height: 40px;
}
.icon-i_prev-slide {
  background-position: -0px -1102px;
  width: 39px;
  height: 41px;
}