mixin adv_items(count, classes)
	- for(var i=1; i<count+1; i++)
		li(class=classes)
			a(href="item.html", data-href="item_popup.html", data-action="toggle-modal").ads__link
				.ads__img
					.ads__img-inner
						img(src="img/realty#{i%3+1}.jpg", alt="Realty")
					div.ads__price
						.ads__extra
							span.icon.icon-i_photo
							span 5
						.ads__extra
							span.icon.icon-i_map
						span #{i} #{i%7}00 000 P
				.ads__main
					.ads__title Орехово-Зуево
					.ads__info 3 комнаты  |  117 м2
			button(class="ads__star btn btn-link #{(i % 2 === 0)?'is-active':''}", data-action="toggle-star")
				.icon