mixin search_form(number)
	form.search(method="post", action="/form_post", data-js="search")
		.stypes
			ul.stypes__list(data-view="type-list")
				each item in [{name:'Квартира', type:'flat'},{name: 'Дом', type:'house'}]
					li.stypes__item
						input.stypes__input(id="input__rtype_#{item.type}_#{number}", type="radio", name="search_realty_type", value="#{item.type}", checked=(item.type === 'flat'))
						label.stypes__label(for="input__rtype_#{item.type}_#{number}")
							span(class="stypes__icon icon icon-i_type-#{item.type}")
							span #{item.name}
				li.stypes__item
					button(type="button", data-action="toggle-sublist").stypes__label
						span.stypes__icon.icon.icon-i_type-other
						span Другое&nbsp;
							span.icon.icon-i_ar-down-blue
					ul.stypes__sublist(data-view="type-sublist")
						each item in [{name:'Гараж', type: 'garage'},{name:'Комната', type: 'room'},{name:'Коммерция', type: 'commercial'},{name:'Участок', type: 'land'}]
							li.stypes__subitem
								input.stypes__input(id="input__rtype_#{item.type}_#{number}", type="radio", name="search_realty_type", value="#{item.type}", data-type="subitem")
								label.stypes__sublabel(for="input__rtype_#{item.type}_#{number}")
									span.stypes__subicon
										span(class="icon icon-i_type-#{item.type}")
									span #{item.name}
		.search__line
			.search__range-holder
				span.icon.icon-i_rouble.rouble
				input.search__range-input.rouble(type="text", placeholder='от', name="price_from")
			.search__range-holder
				span.icon.icon-i_rouble.rouble
				input.search__range-input.rouble(type="text", placeholder='до', name="price_to")
		hr.search__delimeter
		ul.search__spec-list
			each item in ['flat', 'house', 'garage', 'room', 'commercial', 'land']
				li(class="search__spec-item #{(item=='flat')?'active':''}", data-view="type-check__#{item}")
					.search__line
						label.search__line-label Кол-во комнат:
						div.search__input-holder
							.styled-select
								select.search__select(data-view="bs-select")
									- for(var i=0; i<5; i++)
										option(value="#{i}") #{(i==0)?'не важно':i}
					.search__line
						label.search__line-label Тип #{item}:
						div.search__input-holder.search__range
							.search__range-holder
								.styled-select
									select(data-view="bs-select")
										- for(var i=0; i<5; i++)
											option(value="#{i}") #{i} м&#x00B2;
							.search__range-holder
								.styled-select
									select(data-view="bs-select")
										- for(var i=0; i<5; i++)
											option(value="#{i}") #{i} м&#x00B2;
		.search__more
			button.search__more-btn(type="button", data-action="toggle-subform")
				span Указать подробности
				span.icon.icon-i_arrow-brown
			.subform(data-view="subform")
				header.subform__header
					button.subform__close(type="button", data-action="toggle-subform")
						span.icon.icon-i_arrow-back
					span.subform__title Дополнительные критерии поиска
				.subform__line
					label.subform__label Район:
					.subform__input-holder
						.styled-select
							select.subform__select.brown(data-view="bs-select")
								- for(var i=0; i<5; i++)
									option(value="#{i}") #{(i==0)?'Выбрать район':'Район ' + i}
				.subform__line
					label.subform__label Этаж:
					.subform__input-holder
						.styled-select
							select.subform__select.brown(data-view="bs-select")
								- for(var i=0; i<5; i++)
									option(value="#{i}") #{(i==0)?'Не важно': i}
				.subform__line
					label.subform__label Ремонт:
					.subform__input-holder
						.styled-select
							select.subform__select.brown(data-view="bs-select")
								- for(var i=0; i<5; i++)
									option(value="#{i}") #{(i==0)?'Не важно': 'Ремонт ' + i}
				.subform__line
					label.subform__label Площадь кухни:
					.subform__input-holder.search__range
						.search__range-holder
							input.search__range-input(type="number", placeholder="от, м²")
						.search__range-holder
							input.search__range-input(type="number", placeholder="до, м²")
						
				.subform__line
					label.subform__label Тип отопления:
					.subform__input-holder
						.styled-select
							select.subform__select.brown(data-view="bs-select")
								- for(var i=0; i<5; i++)
									option(value="#{i}") #{(i==0)?'Не важно': i}
				.subform__line
					label.subform__label В ипотеку:
					.subform__input-holder
						ul.group-select
							li.group-select__item
								input.group-select__input(type="radio", value="0", name="mortage_input_#{number}", id="mortage_input_0_#{number}")
								label.group-select__label(for="mortage_input_0_#{number}") Важно
							li.group-select__item
								input.group-select__input(type="radio", value="1", name="mortage_input_#{number}", id="mortage_input_1_#{number}", checked)
								label.group-select__label(for="mortage_input_1_#{number}") Неважно
				hr.subform__delimeter
				.subform__line
					label.subform__label Остальное:
					.subform__input-holder
						label.styled-checkbox
							input.styled-checkbox__input(type="checkbox")
							span.styled-checkbox__icon
							| &nbsp; С фото
						label.styled-checkbox
							input.styled-checkbox__input(type="checkbox")
							span.styled-checkbox__icon
							| &nbsp; Владелец
						label.styled-checkbox
							input.styled-checkbox__input(type="checkbox")
							span.styled-checkbox__icon
							| &nbsp; Полный адрес
		.search__submit-holder
			button(type="submit", data-action="search").search__submit-plain.btn.btn-action Найти
			button(type="submit", data-action="show-map").search__submit-map.btn.btn-primary
				span Найти на карте
				span.icon.icon-i_map2
		footer.search__footer
			.labels__wrapper
				.labels.scroller.tiny(data-view="search-labels")
					ul.labels__list
						- for(var i=0; i<15; i++)
							li.labels__item
								button.labels__close(type="button")
									span.labels__text Адрес #{i}
									span.icon.icon-i_close-small
					.labels__scroll.scroller__track
						.scroller__bar