extends ../layout
block vars
	- var js_type = 'agency';
block head
	title 26ok.ru – Агенство
block body
	.main__top
		.wrp.agency-description
			aside.agency-description__aside
				img.agency-description__img(src="img/agency_large.png", alt="Agency")
				a.btn.btn-block.btn-action(href="mailto:admin@mail.com")
					span.icon.icon-i_letter
					span Написать администратору
				button.btn.btn-block.btn-primary
					span.icon.icon-i_people
					span Вступить в сообщество
			article.agency-description__main
				h1.agency-description__title Агентство недвижимости Северная столица
				section.agency-description__text
					p К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.
					p
						| Недвижимость может являться предметом лизинга. Залог недвижимости, равно как и получение кредита под залог недвижимости принято называть ипотек 
						a(href="#full_article", data-action="show-full-article") ... Читать далее
					div.agency-description__full-article#full_article
						p К недвижимости по происхождению относятся земельные участки, участки недр и все, что прочно связано с землей, то есть объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе здания, сооружения, объекты незавершённого строительства.
				section.agency-description__agents
					a.agency-description__all-agents(href="#all_agents") Показать всех агентов
					h4.agency-description__agents-title Лучшие агенты месяца
					ul.agent__list
						- for(var i in [1,2,3])
							li.agent__item
								.agent
									img.agent__img(src="img/agent_square.jpg", alt="Agent")
									div.agent__info
										span.agent__name Хромовинничков У.Е.
										span.agent__rating Рейтинг: 100500
	article
		.wrp
			section.agency-info
				h2.agency-info__header Информация
				.agency-info__row
					.agency-info__col
						table.agency-contacts
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_phone
								td.agency-contacts__title: h4 Телефоны
								td.agency-contacts__value
									a(href="tel:+79031234567") 8 (903) 123-45-67
									br
									a(href="tel:+79031712156") 8 (903) 171-21-56
									br
									a(href="tel:+79032252555") 8 (903) 225-25-55
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_letter
								td.agency-contacts__title: h4 Почта
								td.agency-contacts__value
									a(href="mailto:super.agent@yandex.ru") super.agent@yandex.ru
									br
									a(href="mailto:support@mail.ru") support@mail.ru
							tr.agency-contacts__row
								td.agency-contacts__icon: span.icon.icon-i_chain
								td.agency-contacts__title: h4 Web-сайт
								td.agency-contacts__value
									a(href="http://www.super.agentstvo.ru", target="_blank") www.super.agentstvo.ru
					.agency-info__col
						table.stats-table
							tr.stats-table__row
								td: .stats-table__title Агентов числится
								td: .stats-table__value
									strong 15 
									| агентов
							tr.stats-table__row
								td: .stats-table__title Объявлений за все время
								td: .stats-table__value
									strong 374 
									| объявления
							tr.stats-table__row
								td: .stats-table__title Объявлений сейчас
								td: .stats-table__value
									strong 24 
									| объявления
							tr.stats-table__row
								td: .stats-table__title Дата регистрации
								td: .stats-table__value 17 апреля 2013 года

			section.agency-offices
				h2.agency-offices__title Офисы
				ul.agency-offices__list(data-view="offices-list")
					- for(var i=0; i<4; i++)
						li.agency-offices__item
							.agency-offices__column
								h4.agency-offices__subtitle Офис #1
								table.agency-offices__table
									tr
										td Адрес
										td ул. Святославовича, 481/4б, кв. 9
									tr
										td Телефон
										td 9 (415) 129-00-81
									tr
										td Графи работы
										td
											small пн. 
											| 8:00 - 18:00
											br
											small вт. 
											| 8:00 - 18:00
											br
											small ср. 
											| 8:00 - 18:00
											br
											small чт. 
											| 8:00 - 18:00
											br
											small пт. 
											| 8:00 - 18:00
											br
											small сб. 
											| 8:00 - 18:00
											br
											small вс. 
											| Выходной
							.agency-offices__column
								img.agency-offices__img(src="img/map_example.jpg", alt="Map example")
				.agency-offices__show-more
					button.btn.btn-default(data-action="offices-shower") Показать остальные офисы
			section.agency-ads
				h3.agency-ads__title Последние объявления
				ul.ads__list(data-view="ads-list")
					+adv_items(6, 'ads__item')
				.agency-ads__show-more
					button.btn.btn-default(data-action="load-more", data-url="adv_items.html", data-acceptor="ads-list") Показать еще объявления