extends ../layout
block vars
	- var with_bg = true;
	- var js_type = 'home';
block head
	title 26ok.ru – Агенство
block body
	.wrp.home-page(data-view="wrp")
		aside.home-page__aside
			.home-page__city
				label.home-page__city-label(for="city_select") Поиск по городу:
				.home-page__city-search.styled-select__parent
					.styled-select.empty
						select#city_select.empty(data-view="bs-select")
							each item,i in ['Ставрополь','Пятигорск','Кисловодск','Невинномысск','Ессентуки','Михайловск','Минеральные Воды','Георгиевск','Будённовск','Изобильный','Светлоград','Горячеводский','Зеленокумск','Благодарный','Иноземцево','Александровское','Новоалександровск','Новопавловск','Кочубеевское','Нефтекумск', 'Оченьдлинныйгороднесломаетэтотселект']
								option(value="#{i}") #{item}
			.home-page__form
				.tabs.tabs_home(data-js="tabs")
					ul.tabs__nav-list(role="tablist")
						li.tabs__nav-item(role="presentation")
							a.tabs__nav-link.active(href="#tab_sell_form", aria-controls="tab_sell_form", data-action="switch-tab") Продажа
						li.tabs__nav-item(role="presentation")
							a.tabs__nav-link(href="#tab_rent_form", aria-controls="tab_rent_form", data-action="switch-tab") Аренда
					ul.tabs__list
						li.tabs__item.active#tab_sell_form(role="tabpanel")
							+search_form(1)
						li.tabs__item#tab_rent_form(role="tabpanel")
							+search_form(2)
		article.home-page__main.active(data-view="home-default")
			.home-page__main-wrapper
				section.home-agents
					.home-agents__section.home-agents__section_agents
						h4.home-agents__title Лучшие агенты месяца
						ul.home-agents__list
							- for(var i=0; i<4; i++)
								li.home-agents__item
									img.home-agents__img.home-agents__img_agent(src="img/agent.jpg")
									a.home-agents__link(href="agency.html") Краснослободцевыы А.А.
									div.home-agents__agency
										span Агенство: 
										a(href="agency.html") Очень длинноееее название агенство
					.home-agents__section.home-agents__section_agencies
						h4.home-agents__title Лучшие агентства месяца
						ul.home-agents__list
							- for(var i=0; i<2; i++)
								li.home-agents__item
									img.home-agents__img.home-agents__img_agency(src="img/agency.jpg")
									a.home-agents__link(href="agency.html") Риэлтор быстрого реагирования
				section.home-page__results
					h3.home-page__results-title Эти предложения специально для Вас:
					ul.ads__list
						+adv_items(6, 'ads__item')
		article.home-page__main.home-page__search-results(data-view="home-search")
			.home-page__main-wrapper
				section.home-page__results
					header.home-page__results-header
						div.home-page__sort
							label.search__line-label Сортировка:
							.search__input-holder
								.styled-select.block
									select(data-view="bs-select")
										each item,i in ['Сверху - дешевле','Сверху - дороже','Сверху - новее','Сверху - старее']
											option(value=i) #{item}
						h4.home-page__results-title Результаты поиска:
					ul.ads__list(data-view="search-results")
						+adv_items(9, 'ads__item')
		article.home-page__main.home-page__main_map(data-view="home-map")
			div#realtyMap.home-page__map(data-view="map", data-center="55.75399399999374,37.62209300000001")
			include ../parts/map_panel
