.modal.fade(data-js="modal")
	.modal-dialog.modal-lg.big-adv__modal(role="document")
		include ../parts/item_raw
	section.big-adv__controls(data-view="list-controls")
		button.big-adv__close(data-dismiss="modal", aria-label="Close")
			span.icon.icon-i_close
		button.big-adv__star(data-action="toggle-star")
			span.icon.icon-i_star-empty
		button.big-adv__prev
			span.icon.icon-i_prev-adv
		button.big-adv__next
			span.icon.icon-i_next-adv