block vars
	- var with_bg = false
	- var js_type = ''
include mixins/adv_items
include mixins/search_form
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=1024")
		link(rel="stylesheet", href="css/app.css")
		block head
			title 26ok.ru
	body(class="#{(with_bg)?'fixed':''}", data-js="#{js_type}")
		.content-wrap
			header.header(data-view="header")
				.wrp(data-view="wrp")
					.header__table
						.header__cell
							a.header__logo(href="/")
								img(src="img/logo.png", alt="26ok.ru")
						.header__cell
							nav.header__menu.menu.big
								include parts/menu
						.header__cell
							a.header__new.btn.btn-action(href="#new_ad", title="Подать объявление")
								span.icon.icon-i_plus
								span Подать
								span.text-mobile-hidden  объявление
						.header__cell
							.header__user.head-user
								a.head-user__img(href="#user"): img(src="img/user.jpg", alt="Джаграханянц А.К.")
								.head-user__main
									a.head-user__exit(href="#exit") Выйти
									a.head-user__name(href="#user") Джаграханянц А.К.
									div.head-user__menu.menu.small
										ul.menu__list
											li.menu__item: a.menu__link(href="agency.html") Мое агентство
											li.menu__item.parent
												a.menu__link(href="#my_profile")
													span Мой профиль
													span.icon.icon-i_ar-down-white
												ul.menu__sublist
													- for(var i in [1,2,3,4])
														li.menu__subitem: a.menu__sublink(href='#profile#{i}') Фича профиля #{i}
			main(class="main #{(with_bg)?'bg':''}")
				block body
			.footer-placeholder(data-view="footer")
		footer.footer.sticky-footer(data-view="footer")
			span Все права защищены. 2015.
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/jquery.min.js"><\\/script>')
		script(type="application/javascript", src="js/plugins.js")
		script(type="application/javascript", src="js/main.js")
		script(type="application/javascript", src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
